
    <body>
        <br>
        <br>
        <div class="row">
            <div class="col"></div>
            <div class="col-6"><h1 style="text-align:center">EventsPlusLTD Event Management System</h1></div>
            <div class="col"></div>
        </div>
        <br>
        <br>
        <div class="jumbotron">
            <h1 style="text-align:center">Get Prepared for New Events</h1>
            <p style="text-align:center">New Event lineup ready to be announced, contact the senior organizers for information and how you can help out.</p>
        </div>
        <br>
        <div class="container-md">
            <h2 style="text-align:center">Reading and Leeds Festival 2021</h2>
            <p style="text-align:center">To see details on this event click below.</p>

        </div>
    </body>
