@model EventsPlus.Models.AN

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AN</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AN_ID" class="control-label"></label>
                <input asp-for="AN_ID" class="form-control" />
                <span asp-validation-for="AN_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estimated_Costs" class="control-label"></label>
                <input asp-for="Estimated_Costs" class="form-control" />
                <span asp-validation-for="Estimated_Costs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Actual_Costs" class="control-label"></label>
                <input asp-for="Actual_Costs" class="form-control" />
                <span asp-validation-for="Actual_Costs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount_Needed" class="control-label"></label>
                <input asp-for="Amount_Needed" class="form-control" />
                <span asp-validation-for="Amount_Needed" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="EquipmentID" />
            <input type="hidden" asp-for="PerformanceID" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
