<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Upcoming Events</title>
    <link rel="stylesheet" type="text/css" href=".../wwwroot/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href=".../wwwroot/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>

    <br> <br>

    <div class="text-center">
        <!--A simple div to center the contents-->
        <h1>EventsPlusLTD</h1> <!--Creates a title using H1 properties called EventsPlusLTD-->
        <h2><b>Upcoming Events</b></h2> <!--Creates a title using H2 properties-->
        <img src="~/Images/Calendar.png" width=300 style=padding-top:20px class="rounded" alt="Calendar" /> <!--Adds an image using the img src URL and gives it properties like width 300 pixels and rounded frame, as well as including alt text for those that cannot see the images-->
        <br> <br> <br>
    </div>

    <div class="container">
        <div class="row">

            <div class="col" style="text-align:center">
                <!--Creates a column that is center aligned-->
                <h2>Bassfest</h2> <!--Creates a title using H2 properties-->
                <img src="~/Images/DnB.jpg" width=400 style=padding-top:20px class="rounded " alt="Drum and Bass Set" /> <!--Adds an image using the img src URL and gives it properties like width 400 pixels and rounded frame, as well as including alt text for those that cannot see the images-->
                <br /><br />
                <p>Want to hear from some of the biggest names in the 'drum N bass' industry, then make sure you grab tickets to this unmissable event, names like Chase and Status, Kings of the Rollers and Sub Focus, the event will occur In East London and tickets will sell fast. Space is limited to the first 2000 fans on a first come first served basis !! </p>  <!--Creates a simple paragraph with text-->
                <br /><br />
                <p>Location : 15 York Road, London, SW52 7DJ </p>
                <p>Start: 20th August 2021 </p>
                <p>End: 27th August 2021 </p>
                
                <br /><br /><br /><br />
            </div>
            <div class="col" style="text-align:center">
                <!--Creates a column that is center aligned-->
                <h2>Radio 1's Big Weekend</h2> <!--Creates a title using H2 properties-->
                <img src="~/Images/Radio1.png" width=400 style=padding-top:20px class="rounded " alt="Radio 1 Logo" /> <!--Adds an image using the img src URL and gives it properties like width 400 pixels and rounded frame, as well as including alt text for those that cannot see the images-->
                <br /><br />
                <p>Want to hear from some of the biggest names in the musical industry, then make sure you grab tickets to this unmissable event, names like Ariana Grande, Kanye West and Ed Sheeran, the event will occur In Scotland and tickets will sell fast. Space is limited to the first 20000 on a first come first served basis !! </p>  <!--Creates a simple paragraph with text-->
                <br /><br />
                <p>Location : Brunel Rd, West Gourdie Ind Est, Dundee, DD2 4TG </p>
                <p>Start: 19th July 2021 </p>
                <p>End: 26th August 2021 </p>

                <br /><br /><br /><br />
            </div>

            <div class="w-100"></div>

            <div class="col" style="text-align:center">
                <!--Creates a column that is center aligned-->
                <br /><br />
            </div>

            <div class="col" style="text-align:center">
                <!--Creates a column that is center aligned-->
                <br /><br />

                <br />
            </div>
        </div>
    </div>


</body>
</html>
