<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EventsPlusLTD</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="C:\Users\KNayl\source\repos\EventsPlusLTD\EventsPlusLTD\css\bootstrap.min.css" />
    <link rel="stylesheet" href="C:\Users\KNayl\source\repos\EventsPlusLTD\EventsPlusLTD\css\bootstrap.css" />
</head>

<body>

    <input type="range" min="1.2" max="2.6" step=".2" id="slider" />

    <br> <br>

    <div class="text-center">
        <h1>EventsPlusLTD</h1>
        <h2><b>Your Event Managers</b></h2>
        <img src="https://images.unsplash.com/photo-1533174072545-7a4b6ad7a6c3?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8ZmVzdGl2YWx8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&w=1000&q=80" width=500px style=padding-top:20px class="rounded" alt="EventsPlusLTD Logo" />
        <br> <br> <br>
    </div>

    <div class="container">
        <div class="row">

            <div class="col" style="text-align:center">
                <h2>Apply to Join The Team !</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br />  Suspendisse varius enim in eros elementum tristique. </p>
                <br />
                <img src="https://eventacademy.com/wp-content/uploads/2018/08/Festival-Management.jpg" width=400px style=padding-top:20px class="rounded" alt="EventsPlusLTD Logo" />
                <br /><br /><br />
                <button>Apply Now !</button>
            </div>
            <div class="col" style="text-align:center">
                <h2>Upcoming Events</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br /> Suspendisse varius enim in eros elementum tristique. </p>
                <li> Reading and Leeds Festival</li>
                <li> Download Festival</li>
                <li> Wireless Festival</li>
                <li> Godiva Festival</li>
                <li> Radio 1's Big Weekend</li>
                <li> Riot Rave</li>
                <li> Bass and Face Fest</li>
                <br />
                <a class="nav-item text-dark" asp-controller="Home" asp-action="UpcomingEvents"><h4>See Upcoming Events</h4></a>
            </div>
            <br /><br />
            <div class="w-100"></div>
            <br /><br />
            <div class="col" style="text-align:center">
                <br /><br />
                <h2>Inquire</h2>
                <p>Want to perform at a certain event but dont know who to contact ? Send an enquiry to our team and find out if there is space for you, all emails are answered within 24 hours and phone lines are operational throughout the week </p>

                <br />
                <button>Send a Request</button>
            </div>

            <div class="col" style="text-align:center">
                <br /><br />
                <h2>Wireless Festival</h2>
                <img src="https://www.carnifest.com/wp-content/uploads/2018/10/Wireless_Festival_Photo-wirelessfestival.co_.uk_.jpg" width=400px style=padding-top:20px class="rounded" alt="EventsPlusLTD Logo" />
                <br /><br /><br />
                <p>
                    Wireless Festival is now London's number one urban music festival, bringing the finest artists in hip-hop, grime and more to the city's Finsbury Park each July.
                    Having hosted a long list of icons such as Skepta, Cardi B, Travis Scott and Stormzy, Wireless is now a haven for urban music fans, who flock from across the UK to party in their company each summer.
                </p>
                <br />
                <button>Find out More</button>
            </div>
        </div>
    </div>




    <script type="text/javascript" src="js/Language.js"></script>
    <script type="text/javascript" src="js/translategoogle.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/darkmode.js"></script>
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>


</body>
</html>
